<div class="mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Tìm kiếm</label>
      <input type="text" class="form-control" name="key" id="search-input"  placeholder="nhập từ khóa...">
      <select name="gender" id="gender-select">
        <option value="">--chọn giới tính--</option>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">search </button>
  </form>
</div>